<mat-card>

  <span>
    
    <h2 class="new-entry-form-label" id="lblTitle">{{ lblTitle }}</h2>
  </span>
  

  <form [formGroup]="newContact" class="new-entry-form" (ngSubmit)="onSubmit()">

    <mat-form-field class="new-entry-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" maxlength="40" autofocus="true"
             required onkeydown="return /[a-z]/i.test(event.key)" />
      <mat-icon matSuffix>contacts</mat-icon>
    </mat-form-field>

    <mat-form-field class="new-entry-field">
      <mat-label>Phone No</mat-label>
      <input matInput maxlength="12" formControlName="phone" onlyNumber required />
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <br />

    <mat-form-field class="new-entry-field">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" maxlength="60"
             [formControl]="emailFormControl" />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="emailFormControl.hasError('email')">
        Please enter a valid email
      </mat-error>

    </mat-form-field>

    <mat-form-field color="accent" class="new-entry-field">
      <mat-label>DOB(MM/DD/YYYY)</mat-label>
      <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="dobDate" formControlName="dob">
      <mat-datepicker-toggle matIconSuffix [for]="dobDate"></mat-datepicker-toggle>
      <mat-datepicker #dobDate color="primary"></mat-datepicker>
    </mat-form-field>

    <br />

    <mat-form-field class="new-entry-field">
      <mat-label>Select the gender</mat-label>
      <mat-select disableRipple formControlName="gender" required>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Trangender">Trangender</mat-option>
      </mat-select>
      <mat-icon matSuffix>supervised_user_circle</mat-icon>

    </mat-form-field>


    <br />
    <button class="new-form-btn" mat-raised-button id="btnSubmit" color="primary" [disabled]="!formValid.valid">{{ submitButtonName }}</button>
    <br />
    <br />
    <div class="new-entry-field">
      <mat-error *ngIf="submitResult =='error'">
        Server issue, please try again later.
      </mat-error>
    </div>

  </form>
</mat-card>
